body {
    font-family: Arial, sans-serif;
    display: grid;            /* Enable flexbox on the body element */
    grid-template-rows: repeat(4, 1fr);
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */
    max-height: 100vh;        /* Ensure the body takes at least the full viewport height */
    margin: 0;                /* Remove default margin */
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid darkslategray;
    box-sizing: border-box;
}

.mine {
    background-color: red;
}

.hidden {
    background-color: gray;
    border: 10px solid lightgray;
    border-bottom-color: darkslategray;
    border-right-color: darkslategray;
}

#game-over {
    color: red;
    visibility: hidden;
}