:root {
    --cell-color: gray;
    --cell-light-color: lightgray;
    --cell-dark-color: darkslategray;
}

body {
    font-family: 'Nunito';
    display: grid;            /* Enable flexbox on the body element */
    grid-template-rows: repeat(4, 1fr);
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */
    max-height: 100vh;        /* Ensure the body takes at least the full viewport height */
    margin: 0;                /* Remove default margin */
    text-align: center;
}

.main-section {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}

#pause-menu {
    width: 400px;
    height: 400px;
    z-index: 1;
    display: none;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    background-color: var(--cell-color);
    border: 10px solid var(--cell-light-color);
    border-bottom-color: var(--cell-dark-color);
    border-right-color: var(--cell-dark-color);
    box-sizing: border-box;
    font-weight: bold;
}

#pause-text {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#pause-btn {
    background-color: var(--cell-color);
    border: 10px solid var(--cell-light-color);
    border-bottom-color: var(--cell-dark-color);
    border-right-color: var(--cell-dark-color);
    font-weight: bold;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: var(--cell-light-color);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid var(--cell-dark-color);
    box-sizing: border-box;
}

.mine {
    background-color: red;
}

.hidden {
    background-color: var(--cell-color);
    border: 10px solid var(--cell-light-color);
    border-bottom-color: var(--cell-dark-color);
    border-right-color: var(--cell-dark-color);
}

#restart {
    background-color: var(--cell-color);
    border: 10px solid var(--cell-light-color);
    border-bottom-color: var(--cell-dark-color);
    border-right-color: var(--cell-dark-color);
    font-weight: bold;
}

#game-over {
    color: red;
    visibility: hidden;
}